@import '../utils/variables';
@import '../utils/mixins';

.error {
  text-align: center;
}

.error h2 {
  @include font($fs: 288px);
  color: $color-primary;
  margin: 0 auto;
}

.textError {
  color: $color-primary;
  @include font($fs: 36px);
}

.linkTextError {
  @include font($fs: 16px);
  margin: 50px;
}
