@import '../utils/variables';
@import '../utils/mixins';

.photo-caroussel {
  position: relative;
  margin: auto;
  @include flex-display($jc: center);
  height: $carousel-height;
  width: 100%;
  object-fit: cover;
  @include medium-border;

}

.image-container {
  position: relative;
  width: 1240px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: $carousel-arrow-height; 
  width: $carousel-arrow-width;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.card-host {
  width: 1240px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  @include flex-display($jc: space-between);
}

.title {
  font-size: 32px;
  color: $color-primary;
}

p.hostName {
  color: $color-primary;
}

.hostPicture {
  width: 64px;
  height: 64px;
  @include large-border;
}

.hostName {
  color: $color-primary;
  margin-right: 10px; 
}

.infoHote {
  @include flex-display($di: column, $ai: flex-start, $ga: 10px);
  // margin-top: 32px;
}

.host-info {
  @include flex-display($ai: center, $jc: center);
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 20px;
  @include large-border;
  background-color: $color-primary;
  color: $color-secondary;
  font-size: 14px;
}

.description-equipments {
  @include flex-display($jc: space-between);
  max-width: 1240px;
  margin: 0 auto;
  gap: 15px;
}

.collapseDescription,
.collapseEquipements {
  width: 100%;
}
