@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;713;800;900&display=swap");

* {
  font-family: Montserrat, Helvetica, sans-serif;
  color: $color-primary;
  box-sizing: border-box;
  // margin: 0;
  padding: 0px;
}

html, body, #root{
  height: 100%;
  margin: 0;
}

.App {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  @include flex-display($di: column, $jc: initial);
  margin: 0 $main-margin-sm;
}

.link {
  text-decoration: none;
}

.white {
  color: $color-secondary;
}

.light-bg {
  background-color: $color-light-bg;
}

.white-bg {
  background-color: $color-secondary;
}