.home-cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.home-cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  background-image: url('../assets/home_cover.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  margin: 0 auto; 
  border-radius: 25px; 
  overflow: hidden;
  width: 100%;
}

.home-cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45); /* Couleur de la fumée avec opacité */
}

.home-cover-text {
  position: relative;
  font-size: 3rem;
  font-weight: normal;
}
