/* Collapse.css */

.collapse {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto; /* Centrez horizontalement */
  margin-bottom: 20px;
  max-width: 1040px;
}

.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligner verticalement */
  padding: 10px;
  background-color: #FF6060;
  color: white;
  cursor: pointer;
  position: relative; /* Ajout d'une position relative */
}

.collapse-title h3 {
  margin: 0;
}

.collapse-title .arrow {
  max-width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  /* position: absolute;  */
  left: 10px; /* Ajustez la position à gauche selon vos besoins */
}

.collapse-title .arrow.open {
  transform: rotate(180deg); /* Rotation de la flèche quand ouvert */
}

.collapse-content {
  padding: 20px;
  background-color: #f9f9f9;
}
